<div class="form form-group">
  <%= simple_form_for @team do |f| %>
    <div class="form-group">
      <label>Team name</label>
      <%= f.input :name, label: false, class: 'form-control', placeholder: "Name"%>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-4">
        <label for="form_project_description">Team members</label>
        <%= f.association :users, collection: @users_email, input_html: { multiple: true } , class: 'form-control', label: false %>
      </div>

      <div class="form-group col">
        <label>Team projects</label>
        <%= f.association :projects, collection:  @projects_name, input_html: { multiple: true }, label: false, class: 'form-control'  %>
      </div>
    </div>

    <%= f.button :submit, class: 'btn btn-outline-info btn-sm mt-3' %>

  <% end %>
</div>
