<dl class="row">
  <dt class="col-sm-3">Team name: </dt>
  <dd class="col-sm-9"><%= @team.name %></dd>

  <dt class="col-sm-3">Team id: </dt>
  <dd class="col-sm-9"><%= @team.id %></dd>

  <dt class="col-sm-3">Team members:</dt>
  <dd class="col-sm-9">
    <ol >
    <% @team_members.each do |member| %>
      <li> <%= member %> </li>
    <%end %>
    </ol>
  </dd>

  <dt class="col-sm-3">Team projects</dt>
  <dd class="col-sm-9">
    <ol>
    <% @team_projects.each do |project| %>
      <li> <%= project %> </li>
    <%end %>
    </ol>
  </dd>
</dl>
<%= link_to "Edit", edit_team_path(@team), :class => 'btn btn-outline-info btn-sm' %>
<%= link_to "Delete", team_path(@team), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-outline-danger btn-sm' %>

