<% commentable.comments.each do |comment| %>
  <div class="alert alert-light">
   <p><strong class = "mr-4"><%= comment.username%></strong>
     <%= link_to "Delete comment", [comment.commentable, comment], method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-outline-danger btn-sm'  if comment.user_id == current_user.id && comment.commentable_type == 'Project' %>
   </p>

    <div class="alert border border-dark w-50" > <%= comment.body %><br></div>


    <%= simple_form_for [comment, Comment.new] do |f| %>
      <%= f.input :body, label: false, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>

    <% end %>

    <ul>
      <%= render partial: 'comments/comment',  locals: {commentable: comment}  %>
    </ul>

  </div>
<% end %>

