<hr>
<h1>Title: <%= task.title %></h1>
<p>Project id: <%= task.project_id %></p>
<p>User id: <%= task.user_id %></p>
<p> Task status: <%= task.status %></p>
  <%= link_to "Learn more", task_path(task)%>
<hr>