<dl class="row">
  <dt class="col-sm-3">Title: </dt>
  <dd class="col-sm-9"><%= @task.title %></dd>

  <dt class="col-sm-3">Content: </dt>
  <dd class="col-sm-9"><%= @task.content  %></dd>

  <dt class="col-sm-3">Start date: </dt>
  <dd class="col-sm-9"><%=  @task.start_date%></dd>

  <dt class="col-sm-3">Due date:</dt>
  <dd class="col-sm-9"><%= @task.due_date  %></dd>

  <dt class="col-sm-3">Estimation: </dt>
  <dd class="col-sm-9"><%= @task.estimation %></dd>

  <dt class="col-sm-3">Project:</dt>
  <dd class="col-sm-9"><%= @project_name %></dd>

  <dt class="col-sm-3">User:</dt>
  <dd class="col-sm-9"><%= @user_email%></dd>

  <dt class="col-sm-3">Task status: </dt>
  <dd class="col-sm-9"><%= @task.status %></dd>
  <% if @task.image.attached? %>
    <div style="width: 400px">
    <dd class="col-sm-9"><%= image_tag(@task.image, style: "width: 100%") %></dd>
    </div>
  <% end %>
</dl>

<%= link_to "Edit", edit_task_path(@task), :class => 'btn btn-outline-info btn-sm' %>
<%= link_to "Delete", task_path(@task), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-outline-danger btn-sm' %>

<hr>
<h3 class="mt-4" >Comments</h3>
<%= render partial: 'comments/form', locals: {commentable: @task} %>
<ul>
  <%= render partial: 'comments/comment', locals: {commentable: @task} %>
</ul>

