<dl class="row">
  <dt class="col-sm-2">Name: </dt>
  <dd class="col-sm-9"><%= @user.first_name + " " + @user.last_name %></dd>

  <dt class="col-sm-2">Id:</dt>
  <dd class="col-sm-9"><%= @user.id %></dd>

  <dt class="col-sm-2">Email: </dt>
  <dd class="col-sm-9"><%= @user.email%></dd>

  <dt class="col-sm-2">Team:</dt>
  <dd class="col-sm-9"><%= @user.team_id  %></dd>
</dl>

<% if can?(:edit_profile, @user) %>
  <% if user_signed_in? %>
    <%= link_to 'Edit profile',  edit_user_registration_path, :class => 'btn btn-outline-info btn-sm'  %>
    <%= link_to 'Log out', destroy_user_session_path, :method => :delete, :class => 'btn btn-outline-danger btn-sm' %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path,  :class => 'btn btn-outline-info btn-sm'  %>
  <% end %>
<% end %>
<hr>
<%=form_tag( user_path, :method => 'get', remote: true)  do %>
  <%=text_field_tag :search , params[:search] %>
  <%= submit_tag "Search" %>
<%end %>

<div class = "mt-4 mb-4">
<%=form_tag( user_path, :method => 'get')  do %>
<select name="filter_option" onchange="this.form.submit()">
  <option value="">Pick a Project</option>
  <% @projects.each do |project| %>
    <option value="<%= project %>"><%= project %></option>
  <% end %>

</select>
<%end %>
</div>
<h5>Current user's tasks:</h5>
<div id='tasks-place'></div>
<ol id="all-tasks">
  <%= render partial: 'task', collection: @tasks %>
</ol>
<%= will_paginate @tasks,  renderer: BootstrapPagination::Rails %>
