<h1>Edit project</h1>

<%= simple_form_for @project do |f| %>
  <%= f.input :name, lable: "Project name"%>
  <%= f.input :summary, lable: "Project description"%>
  <%= f.input :start_date %>
  <%= f.input :end_date %>

  <%= f.button :submit %>
<%end %>