<h1>All Projects </h1>
<%= link_to 'Your profile', user_path(current_user.id)%></br>
<%= link_to 'Manage teams', teams_path%></br>
Amount of projects: <%= @projects.count %>
<%= render @projects %>
<%= link_to "Create new project", new_project_path(@project), :class => 'btn btn-warning' %>
