<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Work manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Projects",projects_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Teams",teams_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Users",users_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: 'nav-link' if current_user %>
        </li>

        <li class="nav-item">
          <%= link_to link_to "Admin room", admin_path, class: 'nav-link' if can?(:use_admin_page, current_user) %>
        </li>


      </ul>
    </div>
      <%end %>
    <div class="nav-item pull-right">
      <% if user_signed_in? %>
        <%= link_to "log out", destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: 'btn btn-sm btn-outline-secondary' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-sm btn-outline-secondary' %>
      <% end %>
    </div>
  </div>
</nav>

